@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.topicslist {
    font-family: Montserrat;
    font-weight: bold;
    background-color: white;
    padding: 4%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    flex-shrink: 0;
    gap: 5;
    align-items:end;
}
.title{
    font-size: 25px;
}
.btn{
    display: flex;
    gap: 2;
}